* {
	margin: 0;
	padding: 0;
    font-family:"exoregular";
}
a{
    text-decoration: none;
    color:rgb( 151, 202, 253);
}
body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
    background-color: black;
}
#sivu {
    width: 65em;
    margin:auto;
    
}
header {
    background-color: rgb(70, 0, 82);
    height: 4em;
}
header img {
	width: 222px;
    height: 4em;
}
.top-block {
		float: right;
    height: 4em;
}

.top-nav {
		float: right;
    height: 100%;
}

.top-nav li {
    display: inline;
    float: left;
    text-align: center;
    height: 4em;
}

.top-nav a {
    color: rgb(255,255,255);
    display: block;
    height: 64px;
    width: 7em;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    padding: 20px 0;

    
    
}

.top-nav a:hover {
		color:rgb(195, 195, 229);
}
.selaa {
    width:4em;
}
.kirjaudu {
    width:4em;
    border-left: 1px solid rgb(245,245,245);;

}
.search-form{
		float: right;
}

.search-field {
    border-radius: 10px 0 0 10px;
    border: 0;
    height: 26px;
    padding: 5px 10px;
    display: block;
    margin: 7px 0;
    float: left;
    width: 80%;
    box-sizing: border-box;
}

.search-button {
    border-radius: 0 10px 10px 0;
    background-color: black;
    margin: 7px 0;
    padding: 5px 10px;
    color: rgb(236,240,241);
    float:left;
    height:26px;
    border: 0;
    line-height: 12px;
    width: 20%;
    box-sizing: border-box;
}

.esittely {
    width: 100%;
    height:30em;
    margin: auto;
    text-align: center;
    background-image:url("img/harold.jpg");
    background-size: 65em 30em;
    background-repeat: no-repeat;
    background-color: gray;
    padding-top: 9em;
    box-sizing: border-box;
}
.esittely-bg {
    width: 100%;
    height: 12em;
    background: rgba(70, 0, 82, 0.5);
    
}
.esittely-text{
    display: block;
    width: 55%;
    float: left;
    padding: 35px 4.5em;
    text-align: left;
    box-sizing: border-box;
    color: rgb(240,240,240);
}
.signedIn-text{
    height: 192px;
    padding-top: 65px;
    font-size: 2em;
    color:rgb(255,255,255);
}
.esittely-reg{
    
    display: block;
    width: 45%;
    float: left;
    padding: 6px 0.5em;
    box-sizing: border-box;
    height: 100%;
    
}
#content {
    height: 498px;
    width: 100%;
    background-color: rgb(245,245,245);;
}
#tiedostot {
    display: inline-block;
    float: left;
    width: 75%;
    height: 498px;
    background-color: rgb(245,245,245);;
    box-sizing: border-box;
    padding: 1em;
}
#tiedostot img {
    width: 200px;
}
#info {
    display: inline-block;
    float: left;
    width:25%;
    height: 498px;
    background-color: burlywood;
    box-sizing: border-box;
    padding: 1em;
}
#info .projekti-pvm {
    color: dimgray;
    padding: 1em 0;
    
}
#info .projekti-tekija {
    padding: 1em 0;
}
#info .projekti-rooli {
    padding: 1em 0;
}
#info .projekti-share {
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid black;
    border-top:1px solid black;
    margin: 0 -1em;
}
#info .projekti-kuvaus {
    padding: 1em 0;
    padding-bottom: 5em;
    
}



.lomake {
    border-radius: 10px;
    border: 1px solid rgb(200,200,200);
    width: 367px;
    padding: 5px 10px;
    margin-bottom:10px;
}
.tiedot{
    background-color: rgb(245,245,245);
    padding: 2em;
}
.tieto-container{
    background-color: rgb(230,230,230);
    width: 50%;
    padding: 0.5em 0 0 0.5em;
    margin-bottom: 5px;
    border-radius: 0px 10px 10px 0px
}
.tiedot p{
    padding: 0.5em 0;
}
.profiili select  {
	border-radius: 10px;
    margin-bottom:10px;
		
	padding:5px 10px;
}
.profiili-bg{
    background-color: rgb(245,245,245);
    
}
.profiililomake {

    padding: 2em 2em;
}

.button_small {
	border:2px solid green;
  border-radius:10px;
  border:1px solid black;
  color:rgb(255,255,255);
  background: linear-gradient(rgb( 51, 102, 153), rgb(0, 51, 102));
	padding: 0 1em;
	height:30px;
    cursor:pointer;
}
.reg-field {

    height: 26px;
    padding: 5px 10px;
    display: block;
    margin: 7px 44px;
    float: left;
    width: 80%;
    box-sizing: border-box;
}
#selaa-bg {
    background-color: rgb(245,245,245);
}
#portfolio-bg {
    background-color:rgb(245,245,245);
}

#luoProjekti-bg{
    background-color:rgb(245,245,245);
}
#reg{
    padding:10px;
    border-radius:10px;
    border:1px solid black;
    color:rgb(255,255,255);
    background: linear-gradient(rgb( 51, 102, 153), rgb(0, 51, 102));
    font-size:2em;
    width:80%;
    
}
#reg:hover{
    color:rgb(195, 195, 229);
    cursor: pointer;
}
footer {
   background-color: rgb(70, 0, 82);

    color: rgb(255,255,255);
    text-align: center;
    padding:1em 0 1em 0;
}
footer a {
    color:rgb(255,255,255);
}
.polaroid {
    height:200px;
    position: relative;
    width: 220px;
    display:inline-block;
    margin-right:10px;
    vertical-align: top;
    margin-bottom:10px;
    border:1px solid black;
     -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
    background: linear-gradient(#e3e3e3, white);
}

.polaroid img {
    margin:10px;
    max-height: 150px;

    border:1px solid black;
    margin-bottom: 45px;
    width: 200px;
    background-color: white;
}


.polaroid p {
    position:absolute;
    text-align: center;
    width: 100%;
    bottom: 16px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
}
.user {
    position: absolute;
    top: 4em;
    color:rgb(255,255,255);
    background: rgb(70, 0, 82);
    width: 14em;
    padding: 2em;
    margin: auto;
    left: 47em;
    right: 0;
    border-radius: 0 0 0px 60px;
}
.user .lomake{
    width:200px;
    margin: auto;
    
}
.portfolio-content{
    padding: 2em;
}

.close-modal {
    float: right;
    font-size: 3em;
}
ul li ul.dropdown{
    width: 168px; /* Set width of the dropdown */
    top:4em;
    border-left: 1px solid white;
    background: rgb(70, 0, 82);
    display: none;
    position: absolute;
    z-index: 999;
    float:right;
    box-sizing: border-box;
}
ul li:hover ul.dropdown{
    display: block;
}
ul li ul.dropdown li{
    display: block;
}
summary h2 {
  display: inline;
  cursor: pointer;
}
